<html>
    <head>
    </head>
<body>
    <p>Появился комментарий к посту <a href="{{link}}">&laquo;{{post}}&raquo;</a></p>
    <p><strong>{{author}}</strong> пишет:</p>
    <p>{{comment | raw}}</p>
    <hr />
    <p>Ссылка на все комментарии: {{link}}#comments</p>
</body>
</html>
