{% extends 'ProjectsBlogBundle::layout.html.twig' %}
{% block content %}
    <section class="posts">
    {% autoescape false %}
        <article>
            <header>
                <h2><a href="{{ path('category', {'slug': postCategoryId.slug}) }}" title="Посмотреть все посты в категории &laquo;{{postCategoryId.title}}&raquo;">{{postCategoryId.title}}</a> &rarr; {{postTitle}}</h2>
            </header>
            <div class="left vcard">Автор: <a href="{{ path('author', {'author': postUserId.username}) }}" class="fn" title="Посмотреть все посты этого автора">{{postUserId.username}}</a></div>
            <div class="right">{{createdAt|date('d M Y')}}</div>
            <div class="clear"></div>
            {{post}}
        </article>
    {% endautoescape %}
    </section> <!-- .posts -->
{% endblock %}
