{% extends 'ProjectsBlogBundle::layout.html.twig' %}
{% block content %}
    <section class="posts">
    {% autoescape false %}
        <article>
            <header>
                <h2><a href="{{ path('category', {'slug': post.categoryId.slug}) }}" title="Посмотреть все посты в категории &laquo;{{post.categoryId.title}}&raquo;">{{post.categoryId.title}}</a> &rarr; {{post.title}}</h2>
            </header>
            <div class="left vcard">Автор: <a href="{{ path('author', {'author': post.userId.username}) }}" class="fn" title="Посмотреть все посты этого автора">{{post.userId.username}}</a></div>
            <div class="right">{{post.createdAt|date('d M Y')}}</div>
            <div class="clear"></div>
            {{post.post}}
        </article>
    {% endautoescape %}
    </section> <!-- .posts -->
    <section id="comments">
        <header>
            <h3>Комментарии <sup><a href="#" title="Подписаться на RSS-ленту комментариев к этому посту">RSS</a></sup></h3>
        </header>
    {% for comment in comments %}
        <article id="comment-{{comment.id}}">
            <header class="vcard">
            {% if comment.url %}
                <h5><a href="#comment-{{comment.id}}" title="Ссылка на комментарий">#{{loop.index}}</a> <a href="{{comment.url}}" class="url" title="Перейти на блог автора"><span class="fn">{{comment.author}}</span></a></h5>
            {% else %}
                <h5><a href="#comment-{{comment.id}}" title="Ссылка на комментарий">#{{loop.index}}</a> <span class="fn">{{comment.author}}</span></h5>
            {% endif %}
            </header>
            <img src="#" class="gravatar" alt="{{comment.author}}" title="{{comment.author}}" />
            <p>{{comment.comment}}</p>
            <p class="small">{{comment.createdAt|date('d M Y в H:i')}}</p>
            <p class="reply"><a href="#" onclick="javascript:reply('[reply#comment-{{comment.id}}]{{comment.author}}[/reply]');return false;" class="ajax">Ответить</a></p>
        </article>
    {% else %}
        <article>
            <p>Комментариев пока нет</p>
        </article>
    {% endfor %}
    </section> <!-- #comments -->
    <section id="comment-form">
        <header>
            <h3>Оставить комментарий:</h3>
        </header>
        {% if errors != null %}
            <div class="error">
                <div>Необходимо исправить следующие ошибки:</div>
                <ul>
                {% for error in errors %}
                    <li>{{error.message}}</li>
                {% endfor %}
                </ul>
            </div>
            <script>
                $(function() {
                    var el = $(".error");
                    if (el.length) {
                        $("html, body").animate({scrollTop: $(el).offset().top}, 1000);
                    }
                });
            </script>
        {% endif %}
        <div class="bb-editor-bar">
            <a href="#" onclick="insertBBCode(textarea, 'quote'); return false" title="Вставить цитату">Цитата</a>
            <a href="#" onclick="insertBBCode(textarea, 'code'); return false" title="Вставить код">Код</a>
        </div>
        <form action="{{ path('post', {'slug': post.slug}) }}#comment-form" method="post">
            <div><textarea name="ccomment" id="ccomment" cols="69" rows="10" required>{{app.request.get('ccomment')}}</textarea></div>
            <div>
                <input type="text" name="cauthor" value="{{app.request.get('cauthor')}}" placeholder="Представьтесь *" required />
                <input type="email" name="cemail" value="{{app.request.get('cemail')}}" placeholder="Email *" required />
                <input type="url" name="curl" value="{{app.request.get('curl')}}" placeholder="URL" />
            </div>
            <div style="display:none"><input type="email" name="email" /></div>
            <div><input type="hidden" name="postId" value="{{post.id}}" /></div>
            <div>
                <input type="submit" name="add" value="Добавить комментарий" />
                <input type="submit" name="preview" value="Предварительный просмотр" />
            </div>
        </form>
    </section> <!-- #comment-form -->
{% endblock %}
